@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
   background-color: #f9f9f9;
   font-family: 'Poppins', sans-serif;
}

.web-logo img{ max-width: 80px; }

.form-control:active, .form-control:focus{ box-shadow: none; }

.top-form .form-control{
  padding: 20px 24px; border: none;
}

.final-res{ border-radius: 10px; overflow: hidden; background-color: #fff; padding: 0 24px;  }

.res-div{
  padding: 20px 0;
}

.bg-img{
  background-image: url('../public/assets/img/bg.webp'); position: absolute; 
  width: 100%; height: 290px; left: 0; top: 0;
  background-size: cover;
  background-position: center bottom; z-index: 0;
}

.bg-img:before{
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg,rgba(5,16,54,.5),#051036 72.43%);
  opacity: .85;
}

.top-form button{
  position: absolute;
    background: #7311f6;
    width: 40px;
    font-size: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    top: 12px;
    border-radius: 6px;
    border: none;
    color: #fff;
}

.author-name{ color: #000; opacity: 0.5; font-size: 14px; }

.result-sec{ font-size: 14px; }

.res-div + .res-div{ border-top: 1px solid #ddd; }

.res-div .sl-btn{
  background: transparent;
    border: none;
    color: #000;
    font-size: 20px;
    padding: 0;
}
.res-div .sl-btn{ display: none; opacity: 0.3;}
.res-div:hover .sl-btn{ display: inline-block; }

.sl-btn + .sl-btn{ margin-left: 10px; }

.res-div > div{ min-height: 30px; }

.cursor{ cursor: pointer; }

.Toastify__toast{ font-family: 'Poppins', sans-serif !important; font-size: 14px !important; }

.z-index-1{ z-index: 1;}

.link-color a{ color: #7311f6; font-weight: 600; text-decoration: none;}